APP_HOST=0.0.0.0
APP_PORT=8095
APP_TIMEOUT=4s
APP_IDLE_TIMEOUT=30s

DB_HOST=0.0.0.0
DB_PORT=5440
DB_USER=postgres
DB_PASSWORD=qwerty
DB_NAME=feed_db
SSL_MODE=disable

POST_MAX_NUMBER_IMAGES=10
POST_MAX_TEXT_LENGTH=500
POST_MAX_TAGS_PER_IMAGE=20
POST_MAX_TAG_LENGTH=50

IMAGE_SERVICE_HOST=images-app
IMAGE_SERVICE_PORT=8090
IMAGE_SERVICE_TIMEOUT=4s
GET_IMAGES_URL=/api/v1/images/info

TAG_SERVICE_HOST=tags-app
TAG_SERVICE_PORT=8098
TAG_SERVICE_TIMEOUT=4s
CREATE_TAGS_URL=/api/v1/tags
GET_TAGS_URL=/api/v1/tags/info

